body {
    width: 90%;
    margin: auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
}

h4 {
    font-size: 18px;
}

form {
    margin: 2%;
}

.gif-button {
    display: inline-block;
    margin: 1%;
    background-color: black;
    padding: 1%;
    color: whitesmoke;
    font-size: 14px;
    border: 1px solid whitesmoke;
    border-radius: 10%;
}

img.gif {
    width: 100%;
}

.hidden {
    display: none;
}

/* placing the main content */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.options {
    float: right;
    width: 18%;
}

#place-gifs {
    float: left;
    width: 78%;
}

.options, 
#place-gifs {
    box-sizing: border-box;
    background-color: black;
    padding: 1%;
    margin: 1%;
}

 .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 .5%;
  }
  
  .gif-div {
    margin-top: .5%;
    width: 100%;
    vertical-align: middle;
    color: whitesmoke;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    body {
        width: 95%;
    }

    .options,
    #place-gifs {
        margin: .5%;
    }

    .column {
      flex: 50%;
      max-width: 48%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    body {
       width: 95%;
    }

    .options,
    #place-gifs {
        float: none;
        width: 100%;
    }

    .column {
      flex: 100%;
      max-width: 100%;
    }
  }